 {
  "id":"gasetamunicipalbarcelona",
  "name":"Gaseta municipal de Barcelona",
  "page_delimiter":"GASETA MUNICIPAL DE BARCELONA",
  "desciption":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris placerat tristique gravida. Morbi ut bibendum"
}